{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Social - Register</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/logo/favicon.png' %}">

    <!-- page css -->

    <!-- Core css -->
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet">

</head>

<body>
    <div class="app">
        <div class="container-fluid p-h-0 p-v-20 bg full-height d-flex" style="background-image: url('{% static 'images/others/login-3.png' %} ')">
            <div class="d-flex flex-column justify-content-between w-100">
                <div class="container d-flex h-100">
                    <div class="row align-items-center w-100">
                        <div class="col-md-7 col-lg-5 m-h-auto">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between m-b-30">
                                        <img class="img-fluid" alt="" src="{% static 'images/logo/logo.png' %}">
                                        <h2 class="m-b-0">Sign In</h2>
                                    </div>
                                    <form action="register" method="post">{% csrf_token %}
                                      <div class="form-group">
                                        <label for="first-name">First name</label>
                                        <input type="text" class="form-control" placeholder="First name" name="firstname">
                                      </div>
                                      <div class="form-group">
                                        <label for="last-name">Last name</label>
                                        <input type="text" class="form-control" id="last-name" placeholder="Last name" name="lastname">
                                      </div>
                                      <div class="form-group">
                                          <label class="font-weight-semibold" for="userName">Username:</label>
                                          <input type="text" class="form-control" id="userName" placeholder="Username" name="username">
                                      </div>
                                      <div class="form-group">
                                          <label class="font-weight-semibold" for="email">Email:</label>
                                          <input type="email" class="form-control" id="email" placeholder="Email". name="email">
                                      </div>
                                      <div class="form-group">
                                          <label class="font-weight-semibold" for="password">Password:</label>
                                          <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                                      </div>
                                      <div class="form-group">
                                          <label class="font-weight-semibold" for="confirmPassword">Confirm Password:</label>
                                          <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword">
                                      </div>
                                      <div class="form-group">
                                          <div class="d-flex align-items-center justify-content-between p-t-15">
                                            <button type="submit" class="btn btn-primary">Sign In</button>
                                            </div>
                                      </div>
                                    </form>
                                    <div class="text-primary">
                                      {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Core Vendors JS -->
    <script src="{% static 'js/vendors.min.js' %}"></script>

    <!-- page js -->

    <!-- Core JS -->
    <script src="{% static 'js/app.min.js' %}"></script>

</body>
</html>